img {
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
}

#name-h1 {
    color: white;
    font-family: 'Abril Fatface', cursive;
}

#bio {
    background-color: #fefae0;
    padding: 10px;
}

.container {
    margin: 70px;
}

body {
    background-color: #a3b18a;
}

#intro {
    color: white;
    font-family: 'Joan', serif;
}

#top-space {
    background-color: black;
}

