#doodle {
    padding-top: 200px;
    margin: 10px;
}

body {
    background-color: #588157;
}


.container {
    padding: 200px;
    color: white;
    font-family: 'Anek Malayalam', sans-serif;
}

a {
    color: white;

}